* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$mobile: 425px;
$tablet: 768px;
$desktop: 991px;
$colores: (
  Principal: #ff008c,
  Secundario: #fedee3,
  Terciario: #bcaef4,
);
body {
  overflow-x: hidden;
  background: map-get($map: $colores, $key: Secundario);
}
html {
  font-size: 100%;
}
font-family {
  font-family: "Poppins", sans-serif;
}
@mixin txt {
  text-decoration: none;
  font-family: "Poppins";
  color: map-get($map: $colores, $key: Principal);
  letter-spacing: 1px;
  font-size: 1rem;
}

a {
  @include txt;
}
h1 {
  @include txt;
  text-align: center;
  font-size: 3rem;
}
h2 {
  @include txt;
  font-size: 2rem;
}
ul {
  list-style: none;
}
/* HEADER */
header {
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 9;
  border-radius: 1em;
  .navbar-nav {
    align-items: center;
  }
  .navbar-light .navbar-nav .nav-link.active {
    text-decoration: none;
    font-family: "Poppins";
    color: map-get($map: $colores, $key: Principal);
    letter-spacing: 1px;
    font-size: 1rem;
  }
  .navbar-brand img {
    width: 4em;
    margin-left: 2em;
    margin-right: 2em;
  }
  .navbar-light .navbar-toggler {
    color: map-get($map: $colores, $key: Principal);
  }
  .navbar-collapse {
    justify-content: space-between;
  }
  .me-auto {
    margin-right: 0 !important;
  }
  .nav-item {
    margin: 0em 4em 0em 4em;
  }
  .nav-item img {
    width: 2em;
    align-items: center;
  }
  .d-flex {
    justify-content: end;
  }
  .form-control {
    text-decoration: none;
    font-family: "Poppins";
    color: map-get($map: $colores, $key: Principal);
    letter-spacing: 1px;
    font-size: 1rem;
    border-color: map-get($map: $colores, $key: Secundario);
  }
  .btn-outline-success {
    border-color: map-get($map: $colores, $key: Secundario);
  }
  .btn-outline-success:hover {
    color: #ffffff;
    background-color: map-get($map: $colores, $key: Secundario);
    border: none;
  }
}
/* FIN HEADER */
/* CARROUSEL */
.banner_carrousel {
  display: flex;
}
.carousel-item img {
  width: 100%;
  border-radius: 1em;
}
/* FIN CARROUSEL */
/* NOVEDADES */
.novedades_libros img {
  width: 22em;
}
.novedades_libros img:hover {
  opacity: 0.8;
}
.novedades_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 4em;
}
.novedades_libros h1 {
  padding-top: 3em;
  padding-bottom: 1em;
}
/* FIN NOVEDADES */
/* NOSOTROS */
.somos_nosotros h1 {
  padding-top: 3em;
  padding-bottom: 1em;
}
.texto_nosotros {
  display: flex;
  align-items: center;
  background: map-get($map: $colores, $key: Secundario);
}
.somos_nosotros p {
  display: flex;
  text-align: right;
  margin-left: 5em;
  margin-bottom: 0em;
  font-family: "Poppins";
  color: map-get($map: $colores, $key: Terciario);
  font-size: 1.5rem;
}
.somos_nosotros img {
  width: 30%;
  height: 30%;
  margin: 0em 3em 0em 1em;
  border-radius: 0.5em;
}
/* FIN NOSOTROS */
/* CONTACTO */
.formulario_contacto h1 {
  padding-top: 3em;
  padding-bottom: 1em;
}
.formulario {
  display: block;
  text-align: center;
}
.formulario_contacto form {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 1.5rem;
  color: map-get($map: $colores, $key: Terciario);
  letter-spacing: 1px;
}
.formulario_contacto input {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 1.5rem;
  color: map-get($map: $colores, $key: Terciario);
  letter-spacing: 1px;
  text-align: center;
  width: 25em;
  border-radius: 0.5em;
  border: none;
  opacity: 0.7;
}
.formulario_contacto #term {
  width: 1em;
}
.formulario_contacto .button {
  background-color: #ffffff;
  width: 7em;
  height: 2em;
  margin: 0em 2em 3em 2em;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: map-get($map: $colores, $key: Terciario);
  border: none;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: map-get($map: $colores, $key: Terciario);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: map-get($map: $colores, $key: Terciario);
}
.formulario textarea {
  border: none;
  width: 25em;
  height: 10em;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 1.5rem;
  color: map-get($map: $colores, $key: Terciario);
  letter-spacing: 1px;
  text-align: left;
  border-radius: 0.7em;
  opacity: 0.7;
}
/* FIN CONTACTO */
/* FOOTER */
.pie {
  background-color: map-get($map: $colores, $key: Principal);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4em;
}
.pie ul {
  gap: 6em;
}
.pie a {
  color: #ffffff;
}

/* FIN FOOTER */
/* PRIVACIDAD Y TERMINOS */
/* USO EXTEND */
.politicas {
  @extend .privacidad;
  justify-content: space-around;
  margin-top: 2em;
  margin-bottom: 2em;
}
.politicas a {
  font-size: 1rem;
}
.privacidad {
  display: flex;
}
.privacidad p {
  margin: 2em 5em 2em 5em;
  text-align: justify;
  font-family: "Poppins";
  color: map-get($map: $colores, $key: Terciario);
  font-size: 1.5rem;
}
/* FIN PRIVACIDAD Y TERMINOS */
/* LIBROS */
#grid-area-gallery {
  display: grid;
  grid-template-areas:
    "header header header header"
    "gallery gallery gallery gallery"
    "footer footer footer footer";
  grid-template-columns: 10em auto auto 15em;
  grid-template-rows: 6em auto auto auto auto 5em;
  max-width: 99%;
  margin: 0 auto;
  height: 100vh;
}
.grid-gallery {
  grid-area: gallery;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  width: 100%;
  max-width: 99%;
}
.grid-gallery img {
  width: 100%;
}
.gallery_img {
  position: relative;
  width: 100%;
}
.img {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: map-get($map: $colores, $key: Secundario);
}
.gallery_img:hover .overlay {
  opacity: 1;
}
.text_overlay {
  font-family: "Poppins";
  color: map-get($map: $colores, $key: Terciario);
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* FIN LIBROS */
/* BLOG */
#grid-area-blog {
  display: grid;
  grid-template-areas:
    "logo header header search"
    "blog blog blog blog"
    "footer footer footer footer";
  grid-template-columns: 10em auto auto 15em;
  grid-template-rows: 6em auto auto auto auto 5em;
  max-width: 99%;
  margin: 0 auto;
  height: 100vh;
  background-color: map-get($map: $colores, $key: Secundario);
}
.grid-blog {
  grid-area: blog;
  background-color: map-get($map: $colores, $key: Secundario);
}
.blog_img {
  display: flex;
  margin: 5em;
  width: 90%;
}
.blog_img img {
  width: 25%;
}
.text_blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align: left;
  font-family: "Poppins";
  color: map-get($map: $colores, $key: Terciario);
  font-size: 1.5rem;
  margin-left: 2em;
}
.text_blog p {
  position: flex;
  text-align: left;
  font-family: "Poppins";
  color: map-get($map: $colores, $key: Principal);
  font-size: 1.5rem;
}
.text_blog a {
  position: flex;
  text-align: center;
  border-radius: 1em;
  font-family: "Poppins";
  color: #ffffff;
  background: map-get($map: $colores, $key: Principal);
  font-size: 1.5rem;
  width: 6em;
  margin-bottom: 1em;
}
/* FIN BLOG */
@media screen and (max-width: $desktop) {
  h1 {
    font-size: 2rem;
  }
  /* NOVEDADES */
  .novedades_libros h1 {
    padding-top: 4em;
  }
  .novedades_libros img {
    width: 15em;
  }
  .novedades_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.1em;
    margin-bottom: 4em;
  }

  /* FIN NOVEDADES */
  .formulario_contacto h1 {
    padding-top: 4em;
  }
  .formulario {
    padding-bottom: 5em;
  }
  .formulario_contacto form {
    font-size: 1rem;
  }
  .formulario_contacto input {
    font-size: 1rem;
    width: 30em;
  }
  .formulario_contacto .button {
    margin: 0em 0em 1em 0em;
  }
  .formulario textarea {
    width: 20em;
    height: 15em;
  }
  /* NOSOTROS */
  .somos_nosotros h1 {
    padding-top: 3.5em;
    padding-bottom: 1em;
    text-align: center;
  }
  .somos_nosotros p {
    margin: 0em 0em 0em 2em;
    text-align: justify;
    font-size: 1rem;
  }
  .somos_nosotros img {
    width: 40%;
    height: 40%;
  }
  .blog_img {
    margin: 1em;
  }
  .blog_img img {
    width: 15%;
    height: 15%;
  }
  .text_blog {
    font-size: 1rem;
    margin-left: 2em;
  }
  .text_blog p {
    font-size: 1rem;
  }
  .text_blog a {
    font-size: 1rem;
  }
  .text_overlay {
    font-size: 1rem;
  }
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: $tablet) {
  h1 {
    font-size: 2rem;
  }
  /* NOVEDADES */
  .novedades_libros h1 {
    padding-top: 4em;
  }
  .novedades_libros img {
    width: 20em;
  }
  .novedades_container {
    flex-direction: column;
  }
  /* FIN NOVEDADES */
  /* CONTACTO */
  .formulario_contacto h1 {
    padding-top: 4em;
  }
  .formulario {
    padding-bottom: 5em;
  }
  .formulario_contacto form {
    font-size: 1rem;
  }
  .formulario_contacto input {
    font-size: 1rem;
    width: 30em;
  }
  .formulario_contacto .button {
    margin: 0em 0em 1em 0em;
  }
  .formulario textarea {
    width: 20em;
    height: 15em;
  }
  /* NOSOTROS */
  .somos_nosotros h1 {
    padding-top: 2em;
    text-align: center;
  }
  .texto_nosotros {
    flex-direction: column-reverse;
  }
  .somos_nosotros p {
    margin: 0em 4em 0em 4em;
    text-align: justify;
    font-size: 1rem;
  }
  .somos_nosotros img {
    margin: 1em;
    width: 50%;
    height: 50%;
  }
  .blog_img {
    margin: 1em;
  }
  .blog_img img {
    width: 15%;
    height: 15%;
  }
  .text_blog {
    font-size: 1rem;
  }
  .text_blog p {
    font-size: 1rem;
  }
  .text_blog a {
    font-size: 1rem;
  }
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .privacidad p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: $mobile) {
  h1 {
    font-size: 2rem;
  }
  /* NOVEDADES */

  .novedades_libros img {
    width: 15em;
  }
  .novedades_container {
    flex-direction: column;
  }
  /* FIN NOVEDADES */

  /* NOSOTROS */
  .somos_nosotros h1 {
    padding-top: 2em;
    text-align: center;
  }
  .texto_nosotros {
    flex-direction: column-reverse;
  }
  .somos_nosotros p {
    margin: 2em;
    text-align: center;
    font-size: 1rem;
  }
  .somos_nosotros img {
    margin: auto;
    width: 80%;
    height: 80%;
  }

  /* FIN NOSOTROS */
  /* CONTACTO */

  .formulario_contacto h1 {
    padding-top: 2em;
  }
  .formulario_contacto form {
    font-size: 1rem;
  }
  .formulario_contacto input {
    font-size: 1rem;
    width: 21em;
  }
  .formulario_contacto .button {
    margin: 0em 0em 1em 0em;
  }
  .formulario textarea {
    width: 14em;
    height: 6em;
  }

  /* FIN CONTACTO */

  /* FOOTER */

  .pie ul {
    gap: 0em;
  }
  /* FIN FOOTER */
  .blog_img {
    margin: 1em;
  }
  .blog_img img {
    width: 15%;
    height: 15%;
  }
  .text_blog {
    font-size: 0.5rem;
  }
  .text_blog p {
    font-size: 0.5rem;
  }
  .text_blog a {
    font-size: 0.5rem;
  }
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .text_overlay {
    font-size: 0.8rem;
  }
  .privacidad p {
    font-size: 0.8rem;
  }
}
