* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$colorPrincipal: #ff008c;
$colorSecundario: #fedee3;
$colorTerciario: #bcaef4;
$mobile: 425px;
$tablet: 768px;
$desktop: 992px;
body {
  overflow-x: hidden;
  background: $colorSecundario;
}
html {
  font-size: 100%;
}
font-family {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  font-family: "Poppins";
  color: $colorPrincipal;
  letter-spacing: 1px;
  font-size: 1rem;
}
h1 {
  text-decoration: none;
  font-family: "Poppins";
  color: $colorPrincipal;
  letter-spacing: 1px;
  text-align: center;
  font-size: 3rem;
}
h2 {
  text-decoration: none;
  font-family: "Poppins";
  color: $colorPrincipal;
  letter-spacing: 1px;
}
ul {
  list-style: none;
}
/* HEADER */
header {
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 9;
  border-radius: 1em;
  .navbar-nav {
    align-items: center;
  }
  .navbar-light .navbar-nav .nav-link.active {
    text-decoration: none;
    font-family: "Poppins";
    color: $colorPrincipal;
    letter-spacing: 1px;
    font-size: 1rem;
  }
  .navbar-brand img {
    width: 4em;
    margin-left: 2em;
    margin-right: 2em;
  }
  .navbar-light .navbar-toggler {
    color: $colorPrincipal;
    border-color: $colorPrincipal;
  }
  .navbar-collapse {
    justify-content: space-between;
  }
  .me-auto {
    margin-right: 0 !important;
  }
  .nav-item {
    margin: 0em 4em 0em 4em;
  }
  .nav-item img {
    width: 2em;
    align-items: center;
  }
  .d-flex {
    justify-content: end;
  }
  .form-control {
    text-decoration: none;
    font-family: "Poppins";
    color: $colorPrincipal;
    letter-spacing: 1px;
    font-size: 1rem;
    border-color: $colorSecundario;
  }
  .btn-outline-success {
    border-color: $colorSecundario;
  }
  .btn-outline-success:hover {
    color: #ffffff;
    background-color: $colorSecundario;
    border: none;
  }
}
/* FIN HEADER */
/* CARROUSEL */
.banner_carrousel {
  display: flex;
}
.carousel-item img {
  width: 100%;
  border-radius: 1em;
}
/* FIN CARROUSEL */
/* NOVEDADES */
.novedades_libros img {
  width: 22em;
}
.novedades_libros img:hover {
  opacity: 0.8;
}
.novedades_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 4em;
}
.novedades_libros h1 {
  font-family: "Poppins";
  color: $colorPrincipal;
  padding-top: 3em;
  padding-bottom: 1em;
  background: $colorSecundario;
}
/* FIN NOVEDADES */
/* NOSOTROS */
.somos_nosotros h1 {
  padding-top: 3em;
  background: $colorSecundario;
}
.texto_nosotros {
  display: flex;
  align-items: center;
  background: $colorSecundario;
}
.somos_nosotros p {
  display: flex;
  text-align: right;
  margin-left: 5em;
  margin-bottom: 0em;
  font-family: "Poppins";
  color: $colorTerciario;
  font-size: 1.5rem;
}
.somos_nosotros img {
  width: 30%;
  height: 30%;
  margin: 0em 3em 0em 1em;
  border-radius: 0.5em;
}
/* FIN NOSOTROS */
/* CONTACTO */
.formulario_contacto h1 {
  padding-top: 3em;
}
.formulario {
  display: block;
  text-align: center;
}
.formulario_contacto form {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 1.5rem;
  color: $colorTerciario;
  letter-spacing: 1px;
}
.formulario_contacto input {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 1.5rem;
  color: $colorTerciario;
  letter-spacing: 1px;
  text-align: center;
  width: 25em;
  border-radius: 0.5em;
  border: none;
  opacity: 0.7;
}
.formulario_contacto #term {
  width: 1em;
}
.formulario_contacto .button {
  background-color: #ffffff;
  width: 7em;
  height: 2em;
  margin: 0em 2em 3em 2em;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $colorTerciario;
  border: none;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $colorTerciario;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $colorTerciario;
}
.formulario textarea {
  border: none;
  width: 25em;
  height: 10em;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 1.5rem;
  color: $colorTerciario;
  letter-spacing: 1px;
  text-align: left;
  border-radius: 0.7em;
  opacity: 0.7;
}
/* FIN CONTACTO */
/* FOOTER */
.pie {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6em;
}
.pie ul {
  gap: 6em;
}
/* FIN FOOTER */
/* PRIVACIDAD Y TERMINOS */
.politicas {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  margin-bottom: 2em;
}
.politicas a {
  font-size: 1rem;
}
/* FIN PRIVACIDAD Y TERMINOS */
/* LIBROS */
#grid-area-gallery {
  display: grid;
  grid-template-areas:
    "header header header header"
    "gallery gallery gallery gallery"
    "footer footer footer footer";
  grid-template-columns: 10em auto auto 15em;
  grid-template-rows: 6em auto auto auto auto 5em;
  max-width: 99%;
  margin: 0 auto;
  height: 100vh;
}
.grid-gallery {
  grid-area: gallery;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  width: 100%;
  max-width: 99%;
}
.grid-gallery img {
  width: 100%;
}
.gallery_img {
  position: relative;
  width: 100%;
}
.img {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: $colorSecundario;
}
.gallery_img:hover .overlay {
  opacity: 1;
}
.text_overlay {
  font-family: "Poppins";
  color: $colorTerciario;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* FIN LIBROS */
/* BLOG */
#grid-area-blog {
  display: grid;
  grid-template-areas:
    "logo header header search"
    "blog blog blog blog"
    "footer footer footer footer";
  grid-template-columns: 10em auto auto 15em;
  grid-template-rows: 6em auto auto auto auto 5em;
  max-width: 99%;
  margin: 0 auto;
  height: 100vh;
  background-color: $colorSecundario;
}
.grid-blog {
  grid-area: blog;
  background-color: $colorSecundario;
}
.blog_img {
  display: flex;
  margin: 5em;
  width: 90%;
}
.blog_img img {
  width: 25%;
}
.text_blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align: left;
  font-family: "Poppins";
  color: $colorTerciario;
  font-size: 1.5rem;
  margin-left: 2em;
}
.text_blog p {
  position: flex;
  text-align: left;
  font-family: "Poppins";
  color: $colorPrincipal;
  font-size: 1.5rem;
}
.text_blog a {
  position: flex;
  text-align: center;
  border-radius: 1em;
  font-family: "Poppins";
  color: #ffffff;
  background: $colorPrincipal;
  font-size: 1.5rem;
  width: 6em;
  margin-bottom: 1em;
}
/* FIN BLOG */
.privacidad {
  display: flex;
}
.privacidad p {
  margin: 2em 5em 2em 5em;
  text-align: justify;
  font-family: "Poppins";
  color: $colorTerciario;
  font-size: 1.5rem;
}
@media screen and (max-width: $desktop) {
  a {
    text-decoration: none;
    font-family: "Poppins";
    color: #ff008c;
    letter-spacing: 1px;
    font-size: 1rem;
  }
  h1 {
    text-decoration: none;
    font-family: "Poppins";
    color: #ff008c;
    letter-spacing: 1px;
    text-align: center;
    font-size: 2rem;
  }
  h2 {
    text-decoration: none;
    font-family: "Poppins";
    color: #ff008c;
    letter-spacing: 1px;
  }
  /* NOVEDADES */

  .novedades_libros img {
    width: 20em;
  }
  .novedades_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 4em;
  }
  /* FIN NOVEDADES */

  /* NOSOTROS */
  .somos_nosotros h1 {
    padding-top: 2em;
    text-align: center;
  }
  .texto_nosotros {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .somos_nosotros p {
    margin: 0em 4em 0em 4em;
    display: flex;
    text-align: justify;
    font-family: "Poppins";
    color: #bcaef4;
    font-size: 1rem;
  }
  .somos_nosotros img {
    margin: 1em;
    width: 50%;
    height: 50%;
    border-radius: 0.5em;
  }
}
@media screen and (max-width: $mobile) {
  a {
    text-decoration: none;
    font-family: "Poppins";
    color: #ff008c;
    letter-spacing: 1px;
    font-size: 1rem;
  }
  h1 {
    text-decoration: none;
    font-family: "Poppins";
    color: #ff008c;
    letter-spacing: 1px;
    text-align: center;
    font-size: 2rem;
  }
  h2 {
    text-decoration: none;
    font-family: "Poppins";
    color: #ff008c;
    letter-spacing: 1px;
  }

  /* NOVEDADES */

  .novedades_libros img {
    width: 15em;
  }
  .novedades_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 4em;
  }
  /* FIN NOVEDADES */

  /* NOSOTROS */
  .somos_nosotros h1 {
    padding-top: 2em;
    text-align: center;
  }
  .texto_nosotros {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .somos_nosotros p {
    margin: 0;
    display: flex;
    text-align: center;
    font-family: "Poppins";
    color: #bcaef4;
    font-size: 1rem;
  }
  .somos_nosotros img {
    margin: auto;
    width: 80%;
    height: 80%;
    border-radius: 0.5em;
  }

  /* FIN NOSOTROS */
  /* CONTACTO */

  .formulario_contacto h1 {
    padding-top: 2em;
  }
  .formulario {
    display: block;
    text-align: center;
  }
  .formulario_contacto form {
    text-decoration: none;
    font-family: "Poppins";
    font-size: 1rem;
    color: #bcaef4;
    letter-spacing: 1px;
  }
  .formulario_contacto input {
    text-decoration: none;
    font-family: "Poppins";
    font-size: 1rem;
    color: #bcaef4;
    letter-spacing: 1px;
    text-align: center;
    width: 15em;
    border-radius: 0.5em;
    border: none;
    opacity: 0.7;
  }
  .formulario_contacto #term {
    width: 1em;
  }
  .formulario_contacto .button {
    background-color: #ffffff;
    width: 7em;
    height: 2em;
    margin: 0em 0em 1em 0em;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bcaef4;
    border: none;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bcaef4;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #bcaef4;
  }
  .formulario textarea {
    border: none;
    width: 10em;
    height: 8em;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 1.5rem;
    color: #bcaef4;
    letter-spacing: 1px;
    text-align: left;
    border-radius: 0.7em;
    opacity: 0.7;
  }

  /* FIN CONTACTO */

  /* FOOTER */

  .pie {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 6em;
  }
  .pie ul {
    gap: 0em;
  }
  .politicas {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .politicas a {
    font-size: 1rem;
  }
  /* FIN FOOTER */
}
